@import "../../responsive.scss";

// body, html {
//   height: 100%;
//   overflow-y: auto;
// }

.profilePage {
  margin: 10px;
  padding: 10px;
  display: flex;
  min-height: 100%; /* Ensure the profilePage takes at least 100% height of the viewport */

  @include md {
    flex-direction: column;

    .details {
      overflow-y: auto; /* Use auto to show scroll only when necessary */
      padding-bottom: 50px;
      flex: none;
      height: max-content;
    }

    .chatContainer {
      background-color: #fcf5f3;
      flex: none;
      height: max-content;
    }
  }

  .details {
    flex: 3;
    overflow-y: auto; /* Use auto to show scroll only when necessary */
    padding-bottom: 50px;

    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-weight: 300;
        }

        button {
          padding: 12px 24px;
          background-color: #fece51;
          cursor: pointer;
          border: none;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        button {
          width: 100px;
          background-color: #e37e7e;
          border: none;
          color: white;
          padding: 10px 20px;
          cursor: pointer;
          border-radius: 4px;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  .chatContainer {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;

    .wrapper {
      padding: 0px 20px;
      height: 100%;
    }
  }
}
