.newPostPage {
  height: 100%;
  display: flex;

  .formContainer {
    flex: 3;
    overflow: scroll;

    .wrapper {
      margin: 30px 50px 100px 0px;

      form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .item {
          width: 30%;
          display: flex;
          flex-direction: column;
          gap: 5px;

          label {
          }

          input {
            padding: 20px;
            border-radius: 5px;
            border: 1px solid gray;
          }

          select {
            padding: 19px;
          }

          &.description {
            width: 100%;
            height: 320px;

            .quill > .ql-container > .ql-editor{
              height: 200px;
              font-size: 16px;
            }
          }
        }
        .sendButton {
          align-self: flex-end;
          padding: 10px;
          width: 30%;
          border-radius: 2px;
          border: none;
          background-color: teal;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }

  .sideContainer {
    height: fit-content;
    flex: 2;
    background-color: #fcf5f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    img {
      width: 50%;
      height: 180px;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .suggestions {
    // position: absolute;
    z-index: 1000;
    background: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    max-height: 150px; // Adjust this value to fit 4 lines comfortably
    overflow-y: auto;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
    li {
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid #eee;
  
      &:last-child {
        border-bottom: none;
      }
  
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
