@import "../../responsive.scss";

.homePage {
  display: flex;
  height: 100%;

  .textContainer {
    flex: 3;

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;

      @include lg{
        padding-right: 30px;
      }

      @include md{
        padding: 0;
      }

      @include sm{
        justify-content: flex-start;
      }

      .title {
        font-size: 64px;

        @include lg {
          font-size: 48px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        @include sm {
          display: none;
        }

        h1 {
          font-size: 36px;

          @include lg {
            font-size: 32px;
          }
        }

        h2 {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    // background-color: #80AF81;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include md {
      display: none;
    }

    img {
      width: 115%;
      position: absolute;
      right: 0;
      border-radius: 238px 238px 12px 12px;

      @include lg {
        width: 105%;
      }
    }

    .value_orbe {
      width: 480px;
      height: 650px;
      background-color: hsl(228, 24%, 97%);
      border-radius: 258px 258px 16px 16px;
    }

    .value_img {
      position: absolute;
      width: 450px;
      height: 620px;
      border-radius: 238px 238px 12px 12px;
      inset: 0;
      margin: auto;
      box-shadow: 0 16px 32px hsla(228, 66%, 25%, .25);
    }
  }
}
