@import "../../responsive.scss";

.listPage {
  display: flex;
  height: 100%;

  .listContainer {
    flex: 3;
    height: 100%;
    overflow-y: auto;

    .wrapper{
      height: 100%;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      padding-bottom: 50px;
    }
  }
  .mapContainer {
    flex: 2;
    margin-top: 50px;
    height: 80%;
    background-color: #fcf5f3;

    @include md{
      display: none;
    }
  }
}
